name: Manual Build AArch64

on:
  workflow_dispatch:

jobs:
  build-aarch64:
    runs-on: ubuntu-24.04-arm

    steps:
      - uses: actions/checkout@v4

      - name: Install ARM64 dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            cmake build-essential \
            libsdl2-dev libsdl2-image-dev libsdl2-ttf-dev

      - name: Configure
        run: cmake -Bbuild -DCMAKE_BUILD_TYPE=RelDebug

      - name: Build
        run: cmake --build build -j4

      - name: Upload to Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            build/sdl2imgshow
            build/**
          fail_on_unmatched_files: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
