name: Manual Build AArch64

on:
  workflow_dispatch:

jobs:
  build-aarch64:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build inside ARM64 container
        uses: uraimo/run-on-arch-action@v2.7.1
        with:
          arch: aarch64
          distro: ubuntu24.04

          githubToken: ${{ github.token }}

          install: |
            apt-get update
            apt-get install -y cmake build-essential \
                libsdl2-dev libsdl2-image-dev libsdl2-ttf-dev

          run: |
            cmake -Bbuild -DCMAKE_BUILD_TYPE=RelDebug
            cmake --build build -j4

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: sdl2imgshow-aarch64
          path: build/
