name: build-arm64

on:
  push:
    tags:
      - "v*"

jobs:
  build-arm64:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build for ARM64
        uses: uraimo/run-on-arch-action@v2.7.1
        with:
          arch: aarch64
          distro: ubuntu22.04
          run: |
            apt-get update
            apt-get install -y cmake build-essential \
                libsdl2-dev libsdl2-image-dev libsdl2-ttf-dev

            cmake -Bbuild -DCMAKE_BUILD_TYPE=Release
            cmake --build build -j4

      - name: Upload ARM64 binary to  Release
        uses: softprops/action-gh-release@v1
        with:
          files: build/sdl2imgshow
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
